<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Our Hospital Management System, <%= @user.name %>!</h1>
    <p>
      You have been successfully added to our system.
    </p>
    <p><strong>Your login details are as follows:</strong></p>
    <ul>
      <li><strong>Email:</strong> <%= @user.email %></li>
      <li><strong>Password:</strong> <%= @user.password %></li>
    </ul>
    <p>
      You can access your account and manage your details by visiting the following link:
    </p>
  <p>
  

</p>


    <p>Thank you for joining us!</p>
  </body>
</html>

