<div class="container text-center mt-5">
  <i class="fas fa-times-circle text-danger fa-5x"></i>
  <h1 class="display-4 mt-4">422 Unprocessable Entity</h1>
  <p class="lead">The request was well-formed but could not be followed due to semantic errors.</p>
  <a href="<%= root_path %>" class="btn btn-primary mt-3">Go to Homepage</a>
</div>
