/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* Pagination container */
.pagination {
  display: flex;
  justify-content: center; /* Center the pagination */
  margin: 20px 0; /* Margin for spacing */
  padding: 0;
  list-style: none;
}

/* Pagination items */
.pagination li {
  margin: 0; /* Space between items */
  border: 1px solid black;
  padding: 4px 10px;
}


/* Disabled Previous and Next buttons */
.pagination .prev.disabled, .pagination .next.disabled {

  color: #6c757d; /* Disabled text color */
 
  cursor: not-allowed; /* Not-allowed cursor */
}

.pagination a{
  text-decoration: none;
  color: black;
}


/* Active page */
.pagination .active {
  background-color: #007bff; /* Active page background color */
  color: white; /* Active page text color */
  
}
