<div class="container mt-5 text-center">
  <h1>Appointments Calendar</h1>
  <% if current_user.role == 'patient' %>
    <div class="mb-3">
      <%= link_to 'New Appointment', new_user_appointment_path(@user), class: 'btn btn-primary' %>
    </div>
  <% end %>
  <%= month_calendar(events: @appointments) do |date, appointments| %>
    <div class="day">
      <%= date.day %>
    </div>
    <% appointments.each do |appointment| %>
      <div >
     
    
          <p >
             <%= link_to appointment.status, user_appointment_path(@user, appointment) %>
     
          </p>
 
        
      </div>
    <% end %>
  <% end %>
</div>
