<div class="container-fluid">
  <div class="row flex-nowrap">
    <!-- Render the sidebar partial -->
    <%= render 'shared/sidebar' %>

    <div class="col py-3">
     
      <%= yield %>
    
    </div>
  </div>
</div>
